
@{
    ViewBag.Title = "ShowEnd";
}
@section scripts{
    <script type="text/javascript">
        $(function () {
            setTimeout(function () {
                window.location.href = 'Index';
            }, 1500);
        });
    </script>
}
<h2>結帳成功 : ) 系統將自動導回首頁</h2>
<img src="~/Content/f1336977429142.jpg" />